.container{
    display: flex;
    margin: 1% 0;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
}

.container a{
    background-color: #459de9;
    color: #fff;
    font-size: 16px;
    padding: 12.5px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 20px;
}

.container button{
    background-color: #459de9;
    color: #fff;
    font-size: 16px;
    padding: 12px;
    border-radius: 5px;
    outline:none;
    border:none;
    cursor: pointer;
}


.buttons{
    display: flex;
    margin: 5% 0;
    justify-content: center;
    align-items: center;
}
